.text-centre {
    text-align: center;
    color: white;
}

.bg-red {
    background: red;
}

.flex {
    display: flex;
    align-items: center;
}
.flex-col {
    flex-direction: column;
}


.mx-auto {
    margin: auto;
}

.font-size {
    font-size: 23px;
}

.orange-col {
    background: orange;
}

.white-col {
    color: white;
}
